# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints/

# Mac/OSX
.DS_Store

# Logs
*.out
*.tmp

# CoreNLP
*.zip*
corenlp/stanford-corenlp-4.0.0/
